* {
    margin: 0;
    padding: 0;
}

.color-red {
    color: red;
}

body.error div.main-content h2.heading {
    font-style: italic;
    color: orange;
}

div {
    color: initial;
}

.pai .filha {
    color: blue;
}

/* -------------------------------- */

[meu-atributo~="valor1"] {
    color: red;
}

[checked] {
    width: 50px;
    height: 50px;
}