* {
    margin: 0;
}

.filha1, .filha2 {
    width: 300px;
    height: 300px;
    background: cadetblue;
    margin: 10px;
    position: static;
}

.filha2 {
    background: thistle;
    float: left;
}

.filha1 {
    position: absolute;
    bottom: 0;
    right: 200px;
}