p {
    background-color: green;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    /* direction: ltr; lado em q o texto fica */
    letter-spacing: 1px;
    text-decoration: underline;
    text-shadow: 2px 0 0 red;
    text-transform: capitalize;
    
}