.texto {
    box-sizing: border-box;
    display: block;
    background: red;
    width: 100%;
    height: 200px;
    max-width: 600px;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    margin: 0 auto;
    /* Não deixa o conteúdo "vazar", scroll para baixo*/
    padding: 50px;
    border: 5px solid black;
}